
.question-tab-container {

    /* background-image: url('../../assets/theoneandonly1.png');
    background-size: cover;
    background-position: center; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    min-height: calc(100vh - 40px);


    .sidebar {
        width: 30%;
        padding: 20px;
        background-color: rgba(151, 162, 173, 0.3);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: flex-start;
        position: relative;
        margin-top: 150px;
        max-height: calc(100vh - 230px);
        /* align-items: center; */
    }

    .draggable-container {
        flex-grow: 1;
    }

    .questionnaire {
        width: 60%;
        padding: 20px;
        background-color: rgba(151, 162, 173, 0.6);
        /* Dark blue background */
        border-radius: 8px;
        min-height: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 150px;
        margin-left: 20px;
        overflow-y: auto;
        max-height: calc(100vh - 230px);
    }

    .draggable {
        margin-top: 15px;
        padding: 15px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;
        margin-bottom: 15px;
        text-align: center;
        border-radius: 8px;
        transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
        color: #003366; /* Dark blue text color */
    }

    .draggable:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #ffdd57;
        color: #cc0000;
    }

    .draggable:active {
        cursor: grabbing;
    }

    .draggable#dropdown {
        background-color: #003366;
        color: white;
    }

    .draggable#multipleChoice {
        background-color: #99ccff;
        color: #003366;

    }

    .draggable#checkbox {
        background-color: #ffdd57;
        color: #003366;
    }

    .draggable#fileUpload {
        background-color: #cc0000;
        color: white;
    }

    .draggable#shortAnswer {
        background-color: #3fb428;
        color: white;
    }

    .save-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 15px 25px;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 20px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .save-btn:hover {
        background-color: #218838;
    }

}